body,
input,
div,
span,
i,
ul,
p,
li,
dl,
dt,
dd,
a,
h1,
h2,
h3,
h4,
h5,
b,
ins,
del,
em,
strong,
header,
nav,
footer,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
i {
  font-style: normal;
}
input {
  border: 0 none;
  outline: none;
}
img {
  border: 0 none;
  vertical-align: middle;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
body {
  font: 12px/100% "Microsoft YaHei";
}
.clearfix::after {
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
